<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Réseau de Clients & Commissions</title>
    <link rel="stylesheet" href="./css/index.css">
</head>

<body>

    <h1>Gestion du réseau marketing</h1>

    <!-- le menu de navigation de l'application -->

    <div class="menu">
        <nav class="navig">
            <ul>
                <li><button href="#ajouter-client">Ajouter un client</button></li>
                <li><button href="#ajouter-relation">Ajouter une relation</button></li>
                <li><button href="#ajouter-achat">Ajouter un achat</button></li>
                <li><button href="#afficher-reseau">Afficher le réseau de commissions</button></li>
                <li><button href="#afficher-detail-client">Afficher le détail du client</button></li>
            </ul>
        </nav>
    </div>

    <!-- Ajouter un client -->
    <section>
        <form action="/api/clients" method="post">
            <h2>Ajouter un client</h2>
            <input type="text" id="clientName" name="nom" placeholder="Nom du client">
            <button type="submit">Ajouter</button>
        </form>
    </section>


    
<!-- 
    <!-- Ajouter une relation 
    <form action="/api/commissions/relations" method="POST">
        <h2>Ajouter une relation</h2>

        <label>Parrain :</label>
        <select name="parrain_id" id="clients"></select>

        <label>Filleul :</label>
        <select name="filleul_id" id="filleulSelect"></select>

        <button type="submit">Lier les deux</button>
    </form>

    <!-- Ajouter un achat 
    <section>
        <form action="/api/commissions/achats" method="POST">
            <h2>Ajouter un achat</h2>
            <label>Client qui achète :</label>
            <select name="client_id" id="buyerSelect"></select> <input type="number" name="montant"
                placeholder="Montant ($)" required>
            <button type="submit">Enregistrer l'achat</button>
        </form>
    </section>

    <!-- Affichage 
    <section class="display">
        <div>
            <h3>Clients</h3>
            <ul id="clientsList"></ul>
        </div>

        <div>
            <h3>Relations</h3>
            <ul id="relationsList"></ul>
        </div>

        <div>
            <h3>Achats</h3>
            <ul id="achatsList"></ul>
        </div>
    </section>

    <!-- details du client 
    <section>
        <h2>Détails du client</h2>
        <p><strong>Client sélectionné :</strong> <span id="clientNom">Aucun</span></p>
        <p>Filleuls directs : <span id="directs">-</span></p>
        <p>Filleuls indirects : <span id="indirects">-</span></p>
        <p>Total commissions : <span id="commissions">0 $</span></p>
    </section>   

     -->
    <script src="./js/index.js"></script>
    <script></script>
</body>

</html>