*{
    box-sizing: border-box;
    margin: 0;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(182, 182, 182);
    font-family: Arial, sans-serif;
    background: #010328;
    padding: 20px;
}

/* la section principale qui contient les formulaires et les résultats */
.main_second{
    width: 96%;
    margin: 0 auto;
    color: #333;
    background: linear-gradient(140deg, rgba(3, 77, 22, 0.774), rgba(34, 6, 109, 0.781));
    margin: 0 2%;
    padding: 15px;
    display: flex;
    gap: 10px;
    border-radius: 15px;

    
}
.title_appli {
    text-align: center;
    font-style: italic;
    font-weight: 100;
    letter-spacing: 3px;
    padding: 20px 0;
}

/* la div qui recoit les contenus */
.contents{
    width: 100%;
    /* max-height: 800px; */
    background: linear-gradient(140deg, rgba(34, 6, 109, 0.781), rgba(3, 77, 22, 0.774));
    box-shadow: 5px 5px 4px rgba(255, 255, 255, 0.151);
    display: flex;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
}

/* le sider bar de navigation */

.sider{
    max-width: 300px;
    width: 250px;
}

/* les bouttons de navigation */

.navig{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.navig button{
    font-size: 16px;
    background: #00000050;
    color: rgba(182, 182, 182, 0.801);
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 10px #707070b0;
    padding: 12px;
}
.navig button:hover{
    background: #0000002d;
    color: white;
}

section {
    background: linear-gradient(140deg, rgba(34, 6, 109, 0.781), rgba(3, 77, 22, 0.774));
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
}

/* les relations */
.relation{
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 6px #ffffffa2;
    text-align: center;
}

/* tous le h2 de prjet prendront ce style */
 h2{
    color: rgba(182, 182, 182, 0.801);
    font-style: italic;
    font-weight: 100;
    font-size: 25px;
    margin-bottom: 15px;
}
.relation form select, .relation form input{
    border: 0;
    padding: 15px;
    background: #1619d19c;
    border-radius: 12px;
    width: 250px;
    color:  white;
    font-weight: 400;
    font-size: 17px;
}

.relation form label{
    color: rgba(182, 182, 182, 0.801);
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 3px;
}
.relation form button, .achats button{
    font-size: 18px;
    border-radius: 10px;
    border: none;
    color: rgb(214, 206, 194);
    font-style: italic;
    background: rgba(0, 0, 255, 0.486);
}
.relation form button:hover{
    color: antiquewhite;
    transform: scale(1.1);
    background: rgba(0, 0, 255, 0.699);
    
}

.achats{
    background: linear-gradient(140deg, rgba(3, 77, 22, 0.774), rgba(34, 6, 109, 0.781));
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.178);
    max-width: 500px;
    width: 94%;
}
.achats input{
    border-radius: 8px;
    padding: 10px;
    font-size: 14px;
    color: white;
    border: none;
    width: 230px;
    
}

.achats button:hover{
    color: antiquewhite;
    transform: scale(1.1);
    background: rgba(0, 0, 255, 0.699);
}
.achats button{
    width: 150px;
}
.achats form{
    display: flex;
    justify-content: space-around;
    align-items: center ;
}
.achats{
    margin-top: 25px;
    text-align: center;
}
/* cela pour tous les bouttons */
button {
    padding: 8px;
    cursor: pointer;
}

.display {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.display div {
    max-width: 180px;
}
.graph {
    width: 94%;
    height: fit-content;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #eef;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 10px;
}

